body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: LightGray;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}
h1 {
  margin: 0;
}
.board {
  position: relative;
  padding: 0;
}
.tile {
  position: absolute;
  list-style: none;
  background: rgb(64, 54, 209);
  display: grid;
  place-items: center;
  font-size: 20px;
}
button {
  display: block;
}

#appImage {
  height: 200px;
  width: 200px;
  border: 10px solid rgb(12, 12, 12);
}
#h31 {
  margin-top: 5px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: black;
  color: white;
  width: auto;
  padding: 10px 15px;
}
#buttonAll {
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(55, 185, 55);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.4em;
}
#startBut {
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(243, 50, 50);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.4em;
}
.container-time {
  margin-top: -25px;
  font-size: 1.6em;
  color: rgb(12, 12, 12);
  width: auto;
  padding: 10px 15px;
  background-color: rgb(247, 241, 241);
  border-radius: 7px;
}
#h4 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: black;
  font-weight: 500;
}
.finished {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 10;
  padding: 70px;
  top: 65%;
  left: 30%;
  font-size: 1.4em;
  transition: all 0.5s;
}
#icon-close {
  font-size: 1.5em;
  position: absolute;
  right: 5px;
  top: 5px;
}
#h11 {
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 4px;
  background-color: black;
  width: auto;
  padding: 10px 15px;
  border-radius: 6px;
}
@media only screen and (max-width: 780px) {
  .finished {
    padding: 15px;
    left: auto;
  }
}
